<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Linkedin Scraper</title>
</head>

<h1>Linkedin Scraper</h1>
<p>Enter the keywords that you want to search Linkedin for, separated by the "|" symbol</p>
<body>
	<form method="POST">
		<h2>Keywords</h2>
    	<input name="keywords">

    	<h2>Location</h2>
    	<input name="location">
    	<br><br>
    	<input type="submit">
    	<br>
    	<p>Results may take a few minutes to appear</p>
	</form>


</body>
</html>